{% extends "base.html" %}

{% block page_title %} 
    Minha lista 
{% endblock page_title %}

{% block content %}
    <h1>Minha lista</h1>

    {% if todo_list %}
        <div class="table-responsive">
            <table class="table table-hover align-middle todo-table w-auto">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Título</th>
                        <th scope="col" class="text-center">Data de criação</th>
                        <th scope="col" class="text-center">Data de entrega</th>
                        <th scope="col" class="text-center">Data de finalização</th>
                        <th scope="col" class="text-center">Ações</th>
                    </tr>
                </thead>

                <tbody>
                    {% for todo in todo_list %}
                        <tr>
                            <th scope="row" class="text-center">{{ todo.pk }}</th>
                            
                            <td class="text-center">{{ todo.title }}</td>

                            <td class="date-cell text-center">
                                {{ todo.created_at|date:"d/m/Y - H:i" }}
                            </td>

                            <td class="date-cell text-center">
                                {{ todo.deadline|date:"d/m/Y" }}
                            </td>
                            
                            <td class="date-cell text-center"> 
                                {% if todo.finished_at %}
                                    {{ todo.finished_at|date:"d/m/Y" }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            
                            <td>
                                <div class="d-flex justify-content-center gap-2">
                                    <form 
                                        method="post" 
                                        action="{% url 'todo_complete' pk=todo.pk %}">
                                        {% csrf_token %}

                                        <button
                                            type="submit" 
                                            class="btn btn-orange btn-sm"
                                            {% if todo.finished_at %}disabled{% endif %}>
                                            Concluir
                                        </button>
                                    </form>

                                    {% if not todo.finished_at %}
                                        <a 
                                            href="{% url 'todo_update' pk=todo.pk %}"
                                            class="btn btn-outline-orange btn-sm">
                                            Editar
                                        </a>
                                    {% else %}
                                        <button 
                                            type="button"
                                            class="btn btn-outline-orange btn-sm"
                                            disabled>
                                            Editar
                                        </button>
                                    {% endif %}

                                    <a 
                                        href="{% url 'todo_delete' pk=todo.pk %}" 
                                        class="btn btn-danger btn-sm">
                                        Excluir
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Não há tarefas cadastradas</p>
    {% endif %}

    <a href="{% url 'todo_create' %}" class="btn btn-orange">
        Nova tarefa
    </a>

{% endblock content %}
