<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Lista de Tarefas :)</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="navbar bg-dark mb-4" data-bs-theme= 'dark'>
        <div class="container-fluid">
            <a class="navbar-brand" href="#">To-do</a>
        </div>
    </nav>

    <main class='container'>
        <h1>Lista de Tarefas</h1>

        {% if todos %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Criado em</th>
                        <th scope="col">Data de entrega</th>
                        <th scope="col">Data de finalização</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                        <tr>
                            <th scope="row">{{ todo.id }}</th>
                            <td>{{ todo.title }}</td>
                            <td>{{ todo.created_at }}</td>
                            <td>{{ todo.deadLine }}</td>
                            <td>{{ todo.finished_at|default:"-" }}</td>
                            <td>
                                <a href="#" class="btn btn-primary btn-sm">Concluir</a>
                                <a href="#" class="btn btn-danger btn-sm">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Não há tarefas cadastradas</p>
        {% endif %}
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
